.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    gap: 10px;
    display: grid;
    place-content: center;
}

.navbar_title {
    font-size: 24px;
    margin: 0;
}

@media (min-width: 768px) {
    .navbar{
        display: flex;
        justify-content: space-between;
    }
}

.navbar_btn {
    background-image: radial-gradient(circle at 50% -20.71%, #ffdee5 0, #ffd7e3 10%, #ffcfe1 20%, #ffc6e0 30%, #fbbedf 40%, #f2b5de 50%, #e8adde 60%, #dda6df 70%, #d0a0e0 80%, #c39ce2 90%, #b498e5 100%);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background 200ms ease;
}

.navbar_btn:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
}