:root {
    --principal-font: 'Roboto', sans-serif;
    --purple: #555A88;
    --medium-purple: #636891;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}